* {
	margin: 0px;
}

body {
	margin: 0px auto;
	max-width: 1440px;
	font-family: "Roboto", sans-serif;
}

/* Navbar styles */
.nav-bar {
	margin: auto;
	padding: 4vw 8vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	text-decoration: none;
	color: #3a3a3a;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.menu-container {
	width: 35vw;
}

.menu-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1.9vw;
	list-style: none;
}

.menu {
	text-decoration: none;
	color: #3a3a3a;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

/* Hero Section Styles */
.hero-section {
	margin: 2vw auto;
	padding: 0px 3vw 0px 1.5vw;
	max-width: 1440px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hero-content {
	margin: 0px 0px 3vw;
}
.hero-title {
	margin: 0px;
	color: #3a3a3a;
	font-size: 3.2rem;
	font-style: normal;
	font-weight: 700;
	line-height: 4.3rem;
}

.hero-description {
	margin: 0.8vw 0px 1.5vw;
	color: #3a3a3a;
	font-size: 1rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.hero-cta {
	border: none;
	border-radius: 2.5rem;
	background: #e02c6d;
	line-height: 2.5rem;
	padding: 0.3vw 24px 0.15vw;
	cursor: pointer;
}

.hero-cta:hover {
	background-color: black;
	color: aliceblue;
}

/* Hero Img Styles */
.hero-img-container {
	padding-top: 2.8vw;
	background-image: url(../images/Circle\ design.svg);
}

/* Brand Section Styles */
.brand-section {
	margin: 10vw auto;
	padding-top: 2vw;
	padding-bottom: 2vw;
	border-radius: 2px;
	border-top: 0.2px solid #3a3a3a1f;
	border-bottom: 0.2px solid #3a3a3a1f;
	max-width: 70vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Featured Products Section Styles */
.featured-product-section {
	margin-bottom: 10vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.featured-title {
	color: #0a0826;
	font-family: "Roboto", sans-serif;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
}

.featured-content {
	margin: 0.7vw auto 2.5vw 0px;
	color: #6c6c6c;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
}

.btn-secondary {
	padding: 0.8vw 3vw;
	background-color: #e02c6d;
	border: none;
	border-radius: 5px;
}
