* {
	margin: 0px;
}

body {
	max-width: 1440px;
	font-family: "Roboto", sans-serif;
}

.nav-bar {
	margin: auto;
	padding: 6vw 8vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	text-decoration: none;
	color: #3a3a3a;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.menu-container {
	width: 35vw;
}

.menu-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1.9vw;
	list-style: none;
}

.menu {
	text-decoration: none;
	color: #3a3a3a;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
